[audio]
frequency = 18500.0
amplitude = 1.
framerate = 48000
duration = 30
buffersize = 2048

[record]
recordingFrames = 32
# how long is 1 record in seconds
secToRecord = 0.001  
# time between 2 records in seconds
recordIntervall = 0.01  
# in milliseconds
guiIntervall = 1.0  
leftBorder = 32.0
rightBorder = 32.0

[paths]
gesturePath = ../gestures

[user]
name = 
classifier = 
# to deactivate this feature write an empty string and not false
autostart_sound = true

[os]
type =

[lstm]
classes=[0,1,2,3,4,5,6,7]
merge67 = false
dataset =
# load dataset from file, otherwise create new dataset
autoload_data = false
# Loads data with diff of normalized data and average or only normalized data (false)
data_average = false
network =
# fast network: nothing normal, anything else fast 
fast = 
# load network from file, otherwise create new
autoload_network = false
# autosave the network after training to file: networkname + timestamp
autosave_network = false
hiddenneurons = 350
outneurons = 8
# output layer: linear, sigmoid, softmax
outlayer = linear
trainingepochs = 100
# Network type gradient based, optimization (experimental)
training = gradient
# Train Algorithm: gradient: rprop and backprop; optimization: GA, HillClimber, MemeticSearch, NelderMead, CMAES, OriginalNES, ES, MultiObjectiveGA
trainingalgo = rprop

